@model Madrugada.Models.Location

@{
    ViewData["Title"] = "Details";
}
<style>

    #map, #street {
        height: 400px;
        width: 100%;
    }
</style>


<h2>
    @Html.DisplayFor(model => model.Name)
</h2>
<h3>
    @Html.DisplayFor(model => model.Work.Name)
</h3>
<p>
    @Html.DisplayNameFor(model => model.Address)：@Html.DisplayFor(model => model.Address)
</p>


<p>
    @Html.DisplayFor(model => model.Text)
</p>

<div id="map"></div>
<div id="street"></div>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var loc = { lat: @Model.Latitude, lng: @Model.Longitude };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 18, center: loc });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: loc, map: map });

        @if (Model.HasStreetView)
        {
            <Text>

        var paraloc = { lat: @Model.StreetViewLatitude, lng: @Model.StreetViewLongitude };
        var paramap = new google.maps.Map(
            document.getElementById('street'), { zoom: 18, center: paraloc });
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('street'), {
                position: paraloc,
                pov: {
                    heading: @Model.StreetViewHeading,
                    pitch: @Model.StreetViewPitch
                        }
            });
            </Text>
        }
    }
</script>
<div class="container-fluid">
    <div class="row">
        @foreach (var image in Model.Images)
        {
            if ((image.IsCompare) && (!image.IsCg))
            {
        <div class="col-sm-6">
            <img src="@image.Url" class="img-fluid"  />
        </div>
        <div class="col-sm-6">
            <img src = "@image.CompareImage.Url" class="img-fluid" />
        </div >


            }
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@Environment.GetEnvironmentVariables()["GoogleMapAPIKey"]&callback=initMap">
</script>
